.lzd-header, body {
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif !important;
}
#content{margin-top: 15px;}

.sticky-content{  
    position: sticky;
    position: -webkit-sticky;
    top: 15px;
  }
.table-responsive{overflow-x: initial;}
.main-container.container {
    background: #fff;
}

.products-list .product-layout {
    padding: 4px;
    margin-top: 10px;
}
.list-box li a {
    display: inline-block;
    word-wrap: break-word;
    margin-right: 5px;
     padding: 8px 15px;
    display: block;
    color: #555;
}
.list-box li:hover{background: #f8f8f8;}

.list-box li {
    position: relative;
    border-bottom: 1px solid #ececec;
    font-size: 14px;

}
.user-image {text-align: center;}
.user-image img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #eeeeee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.common-home .products-list.grid .product-layout .product-item-container .right-block .caption h4{height: 48px;}

.fa-star-half-o:before{color: #faa600;}
.required:after {
    content:" *";
    color: red;
}
section.section{
    padding:10px 0;}
.title{font-weight: bold;
    font-size: 1.5rem;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;}
.nav-tabs{ margin: 10px 0 0; }
.nav-tabs .moreBtn{float: right;
    border: 1px solid #faa600;
    padding: 0px 7px;
    margin-bottom: 3px;}
.nav-tabs span a{color: #5e5e86 !important;}

.megamenu-style-dev{z-index: 9999;}
.modal{z-index: 9999}
.parsley-required,.parsley-equalto,.parsley-type,.parsley-minlength{color: red;}

.table > tbody > tr > td{vertical-align: middle !important;}

.catalog .nav-tabs{margin-bottom: 5px;padding: 5px 0;}

.product-view .product-view-inner{
    padding: 7px;
}
.product-view .content-product-right .title-product h1{font-size: 21px;margin: 0}
.product-view .content-product-right .box-review{padding: 0px;}
.desc-listcategoreis .number_product {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 5px;
    line-height: 1;
    display: block;
}
.desc-listcategoreis a {
    color: #ffd200;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    display: inline-block;
}
.page-builder-ltr{ 
     margin-bottom: 10px;}
     .releate-products:hover .owl2-controls, div.so-extraslider.grid:hover .owl2-controls {
    opacity: 1;
}

.homecategory .category-list {
    margin-bottom: 10px!important;
    position: relative;
    overflow: hidden;
}

.typeheader-6 .container-megamenu.vertical #menuHeading:after{top: 11px !important;
    right: -5px !important;}

.cat-border {
	height: 100px;
    max-height: 100px;
    margin-bottom: 8px;
    border: 1px solid #ece9e9;
    background: #F8F8F8;
}
.category-thumb img {
    width: 100%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

img {
    vertical-align: middle;
    border-style: none;
}

.slider-details{
	position: absolute;
    top: 15%;
    left: 10%;
}




